body {
    margin: 0;
    padding: 0;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    display: grid;
}
header{
    display: grid;
    overflow: hidden;
    grid-template-columns: auto auto;
    gap: 5px;
}

header h1 {
    background-color: yellow;
    margin: 0;
    padding-top: 20px;
    padding: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    gap: 5px;
}
nav li{
    font-size: x-large;
    text-align: center;
    list-style-type: none;
    padding: 40px 2px;
    background-color: pink;
    margin: 0;
    padding: auto;
}
.contentContainer{
    display: grid;
    gap: 5px;
}
.posttitle{
    text-align: center;
    background-color: skyblue;
    padding: 30px 220px;
    margin: 0;
    margin-top: 5px;
}
main{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.bar{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 5px;
    margin-top: 5px;
}
.sidebar{
    font-size: x-large;
    text-align: center;
    padding: 70px 10px;
    background-color: orange;
}
.ads{
    font-size: x-large;
    text-align: center;
    background-color: green;
    padding: 70px 10px;
}

.oth{
    font-size: x-large;
    text-align: center;
    padding: 70px 10px;
    background-color: violet;
}
.metaContainer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.postmeta{
    text-align: center;
    background-color: aquamarine;
    margin: 0;
    padding: 180px 10px;
}
.content{
    display: grid;
    gap: 5px;
}

.mainContent{
    text-align: center;
    background-color: rgb(221, 220, 220);
    margin: 0;
}
.picture{
    text-align: center;
    background-color: yellow;
    margin-top: -20px;
    padding: 30px 20px;
    height: 83%;
}

footer{
    font-size: x-large;
    width: 153.6%;
    background-color: rgb(129, 101, 101);
    padding: 20px;
    margin-top: 5px;
}